:root, [data-bs-theme=light] {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 31, 61, 120;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-primary-text-emphasis: #052c65;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #d1e7dd;
}
body {
  scroll-behavior: smooth;
  padding-top: 70px;

  font-family: "Open Sans", sans-serif;
  color: #444444;

  /* background: linear-gradient(-45deg, #e3f2fd, #e0f7fa, #e8f5e9, #f1f8e9); */
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

.text-primary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar {
  backdrop-filter: blur(10px);
  background: rgb(31, 61, 120);
}
.hero {
  background: url("https://source.unsplash.com/1600x900/?tech,office")
    center/cover no-repeat;
  color: #fff;
  padding: 15px 0;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}
.section-title {
  margin: 60px 0 30px;
  font-weight: 600;
}
.card-icon {
  font-size: 2rem;
  color: rgb(31, 61, 120);
}
.card:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.navbar a.nav-link:hover {
  color: #fff;
  text-decoration: underline;
  transition: 0.3s;
}
.nav-link {
  color: #fff;
}
.btn {
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
}
.btn-primary {
  --bs-btn-bg: rgb(31, 61, 120);
}
img {
  transition: transform 0.4s ease;
}
img:hover {
  transform: scale(1.02);
}
footer {
  background: rgb(31, 61, 120);
  color: #fff;
  padding: 20px 0;
}
.logo img {
  max-height: 70px;
}

@keyframes fondoAnimado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
